[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "referenceIntervals"]
	path = referenceIntervals
	url = https://github.com/cran/referenceIntervals
